<nav>
    <div class="navbar bg-zinc-900 text-white w-full min-h-14 flex justify-between=">

        <div class="flex w-[85vw] mx-auto justify-between items-center" >
         <a href="/"> <h1 class="text-2xl font-bold translate-x-[-50%]">Freelance Hub</h1></a>
        <div class="text flex list-none gap-6 tracking-tight p-4"> 
            <a href="/freeDashboard"><li>Home </li></a>
            <a href="/freeJobs"><li>Search Job, Gigs    </li></a>
            <a href="/freePC"><li>Projects Completed</li></a>
            <a href="/freeWallet"><li>Wallet </li></a>
            <a href="/freeNotification"><li>Notifications</li></a>
            <a href="/freins"><li>Instructions</li></a>
      
           
        </div>
        <div class="profile flex items-center gap-3 list-none">
            <a href="/freeProfile"><li>View Your Profile </li></a>
            <img src="/images/default.jpg" alt="" class="h-12 w-12 mt-1 object-cover rounded-full">
        </div>

        <a href="/free/logout" class="bg-red-600 px-3 py-2 rounded-lg">Logout</a>

        </div>

    </div>


</nav>